<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <form>
        <h2>Form</h2>
        <div class="form-group">
          <label for="candidateName">Name of the candidate</label>
          <input type="text" class="form-control" id="candidateName" placeholder="Enter candidate name">
        </div>
        <div class="form-group">
          <label for="emailID">Email ID</label>
          <input type="email" class="form-control" id="emailID" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="cellNo">Cell No.</label>
          <input type="number" class="form-control" id="cellNo" placeholder="Enter cell no.">
        </div>
        <div class="form-group">
          <label for="totalExp">Total Experience</label>
          <input type="number" class="form-control" id="totalExp" placeholder="Enter total experience">
        </div>
        <div class="form-group">
          <label for="relExp">Relevant Experience</label>
          <input type="number" class="form-control" id="relExp" placeholder="Enter relevant experience">
        </div>
        <div class="form-group">
          <label for="skills">Skills</label>
          <input type="text" class="form-control" id="skills" placeholder="Enter skills">
        </div>
        <div class="form-group">
          <label for="cctc">C.CTC</label>
          <input type="number" class="form-control" id="cctc" placeholder="Enter C.CTC">
        </div>
        <div class="form-group">
          <label for="ectc">E.CTC</label>
          <input type="number" class="form-control" id="ectc" placeholder="Enter E.CTC">
        </div>
        <div class="form-group">
          <label for="noticePeriod">Notice Period</label>
          <input type="number" class="form-control" id="noticePeriod" placeholder="Enter notice period(in months)">
        </div>
        <div class="form-group">
          <label for="change">Reason for Change</label>
          <input type="text" class="form-control" id="change" placeholder="Enter reason for change">
        </div>
        <div class="form-group">
          <label for="currentLoc">Cureent Location</label>
          <input type="text" class="form-control" id="currentLoc" placeholder="Enter current location">
        </div>
        <div class="form-group">
          <label for="nativeLoc">Native Location</label>
          <input type="text" class="form-control" id="nativeLoc" placeholder="Enter native location">
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control" id="comment" placeholder="Enter comment"></textarea>
        </div>
        <span>
          <button type="submit" class="btn btn-primary">Submit</button>
        </span>

      </form>
    </div>
  </div>

</div>